body {
  font-family: futura;
  text-align: center;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: white;
  font-size: 20px;
}

.searchBox {
  width: 150px;
  height: 25px;
  border-radius: 5px;
  border-style: none;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}

.submitButton {
  border-radius: 5px;
  border-style: none;
  font-size: 15px;
  height: 27px;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  padding: 10px;
  font-family: futura;
}

.movie {
  margin: 10px;
  width: 300px;
  color: white;
}

p {
  color: white;
}
