.App {
    font-family: "Oswald", sans-serif;
    text-align: center;
    /* background-color: whitesmoke; */
    display: flex;
    flex-direction: column;
  }
  
  #title {
    color: #0a0a09;
    font-size: 8vmin;
  }
  /* for search title*/
  .form {
    color: green;
    display: inline;
    font-size: 3vmin;
  }
  
  /* for input field */
  .field {
    background-color: blue;
    display: inline-flex;
    font-size: 3vmin;
  }
  
  /* for submit button */
  .submit {
    color: black;
    display: inline-flex;
    font-size: 3vmin;
    border-radius: 50px;
  }
  
  .submit:hover {
    cursor: pointer;
    background-color: darkgray;
  }
  
  /* for description text */
  .descriptions {
    text-align: left;
    list-style: none;
    list-style-type: none;
  }
  